{% extends "base.html" %}

{% block content %}

<h1><p style="color:green;">About</p></h1>
<br>
    <p>
        Hi, My name is Hooman and I am a Software Developer in Toronto, Canada.
    </p>

    <p>
        I hold a Certificate in Computer Programming Applications from 
        <a href="http://www.torontomu.ca" style="color:#00ffcc;">Toronto Metropolitan University</a>.
    </p>
    <p>
        I also hold a Diploma in Computer Network Technician from 
        <a href="http://www.cdicollege.ca" style="color:#00ffcc;">CDI College</a>.
    </p>
    <p>
        Currently, I am sudying towards an Associate Degree in Business Adminisration from 
        <a href="http://www.uopeople.edu" style="color:#00ffcc;">University of the People</a>.
    </p>



    <p>I live in Toronto, Canada.</p>

<br>

<!--{% if company_name %}
  <!--<h2>Course developed by {{ company_name }}.</h2> -->
<!--{% else %}-->
  <!--<h2>Enjoy the course!</h2>-->
<!--{% endif %}-->
<!--{% endblock %}-->